#----- Compiled object/library files
*.o
*.a
*.so

#----- Editor pattern
*.sw[po]
*~

#----- To run the tests
/SPI/share/examples/script/DataIn
/SPI/share/examples/script/DataOut

#----- cscope code navigation databases
cscope.out

#----- Sample test files
*.sqlite
*.out

#----- Output of tools
callgrind.out.*

#----- Network file system lock files
.nfs*

#----- Emacs files
.projectfile
spi.html
